* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Yesteryear", cursive;
}

.row.header {
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(234, 203, 141);
  height: 600px;
}

.main-logo {
  background-image: url(/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

.col.header {
  display: flex;
  align-items: center;
}

.header h2 {
  color: white;
  font-family: "Yesteryear", cursive;
  font-size: 7rem;
  line-height: 6.5rem;
}

.row.header_type {
  display: flex;
  align-items: center;
}

.row.header_type p {
  color: rgb(112, 92, 73);
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.title {
  height: 600px;
  background-color: antiquewhite;
}

.tagesgericht_title {
  width: 100%;
}

.container {
  text-align: center;
}

.text_mitte {
  text-align: center;
  width: 100%;
}

.tagesmahlzeiten {
  background-color: antiquewhite;
}

.secret_recipe {
  width: 70%;
  margin: auto;
  background-color: antiquewhite;
  height: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.tagesmahlzeit_button {
  cursor: pointer;
  border: 2px solid brown;
  min-height: 200px;
  min-width: 250px;
}

.ingredients {
  min-height: 200px;
  background-color: antiquewhite;
}

.steps {
  min-height: 200px;
}
