* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Yesteryear", cursive;
}

/* ab hier Phil CSS */

.row.header {
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgb(232, 176, 120);
  height: 600px;
}

.main-logo {
  background-image: url(/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.col.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.header h2 {
  color: white;
  font-family: "Yesteryear", cursive;
  text-align: center;
  font-size: 7rem;
  line-height: 6.5rem;
}

.row.header_type {
  max-width: 450px;
  display: flex;
  align-items: center;
}

.row.header_type p {
  color: rgb(112, 92, 73);
  font-size: 1.4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container.text_mitte {
  border-radius: 20px;
  background-color: rgb(232, 176, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.text_mitte h2 {
  color: rgb(112, 92, 73);
  font-family: "Yesteryear", cursive;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  line-height: 6.5rem;
}

.row.text_mitte {

}

/* bis hier Phil CSS */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.title {
  height: 600px;
  background-color: antiquewhite;
}

.tagesgericht_title {
  width: 100%;
}



.tagesmahlzeiten {
  background-color: antiquewhite;
}

.secret_recipe {
  width: 70%;
  margin: auto;
  background-color: antiquewhite;
  height: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.tagesmahlzeit_button {
  cursor: pointer;
  border: 2px solid brown;
  min-height: 200px;
  min-width: 250px;
}

.ingredients {
  min-height: 200px;
  background-color: antiquewhite;
}

.steps {
  min-height: 200px;
}
