* {
  padding: 0;
  margin: 0;
}

/* Start Titel by Alfi */
/* ################################################## */

hr {
  border-width: 6px;
}

.icons_width {
  width: 30px;
  height: auto;
}

html {
  font-family: "Yesteryear", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Yesteryear", cursive;
}

h4 {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.title {
  /* background-color: antiquewhite; */
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  background-color: antiquewhite;
}

.ingredients ul {
  list-style-type: none;
}

.tagesgericht_title {
  width: 100%;
  min-height: 200px;
  background-color: antiquewhite;
  padding-top: 5%;
}

.container {
  text-align: center;
}

.text_mitte {
  text-align: center;
  width: 100%;
}

.tagesmahlzeiten {
  background-color: antiquewhite;
}

.secret_recipe {
  width: 70%;
  margin: auto;
  background-color: antiquewhite;
  height: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.ingredients {
  min-height: 200px;
  background-color: antiquewhite;
}

.steps {
  min-height: 200px;
}
